{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Imports history{% endblock %}</h1>
  <nav>
    <form method="post">
      <label for="ide">IDE</label>
      <input type="text" input name="ide" id="ide" required>
      <input type="submit" value="Search">
    </form>
  </nav>
{% endblock %}
{% block content %}
  {% for import in datahistory %}
    <article class="import">
        <header>
            <div>
              <h1>{{ import['productName'] }}</h1>
              <div class="ide">IDE: {{import['ide']}}</div>
              <div class="date">Creation Date: {{import['date']}}</div>
              <div class="count">Imported Quantity: {{import['count']}}</div>
              <form action="{{ url_for('importspages.delt', ide=import['date']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
              </form>
            </div>
        </header>
    </article>
    {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endblock %}

