{% extends 'base.html' %}
{% block header %}
  <h1>{% block title %}Exports history{% endblock %}</h1>
  <nav>
    <form method="post">
      <label for="ide">IDE</label>
      <input type="text" input name="ide" id="ide" required>
      <input type="submit" value="Search">
    </form>
  </nav>
{% endblock %}
{% block content %}
  {% for export in datahistory %}
    <article class="export">
        <header>
            <div>
              <h1>{{ export['productName'] }}</h1>
              <div class="ide">IDE: {{export['ide']}}</div>
              <div class="date">Creation Date: {{export['date']}}</div>
              <div class="count">Exported Quantity: {{export['count']}}</div>
              <form action="{{ url_for('exportspages.delt', ide=export['date']) }}" method="post">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
              </form>
            </div>
        </header>
    </article>
    {% if not loop.last %}
    <hr>
  {% endif %}
{% endfor %}
{% endblock %}

